[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyyaml = "*"
wbgapi = "*"
spyder-kernels = "==2.4.*"
openpyxl = "*"
scikit-learn = "*"
statsmodels = "*"
fastdtw = "*"
hampel = "*"

[dev-packages]

[requires]
python_version = "3.11"
