[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyyaml = "==6.0.1"
wbgapi = "*"
spyder-kernels = "==2.4.*"
openpyxl = "*"
scikit-learn = "*"
statsmodels = "*"
fastdtw = "*"
hampel = "*"
bayesian-optimization = "*"
xgboost = "*"
prophet = "*"
numpy = "*"
schemachange = "==3.5.3"

[dev-packages]

[requires]
python_version = "3.11"
